{% extends "base.html" %} {% block content %} {% load static %}

<div class="jumbotron">
  <div class="container main-content">
    <h1>About</h1>
    <hr />
    <p class="">
      Nasa prides itself of creating technological breakthroughs and expanding
      our understanding of various topics of scientific research. However they
      also want to create resources to deliver to younger audiences and
      educators to learn and build a foundation based in STEM. Increasing the
      involvement and exposure to STEM fields in K-12 environments will enhance
      higher education, strengthen online education, and introduce students to a
      diverse set of skills. We encourage a collaborative effort with students,
      educators, and parents to not only make learning more engaging, but to
      prepare generations as they pave the way to a new era of innovation.
    </p>
    <br />
    <div class="card-deck">
      <div class="card">
        <img
          src="https://www.nasa.gov/sites/default/files/styles/1x1_cardfeed/public/thumbnails/image/educators_higher_ed.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">For Teachers</h5>
          <p class="card-text">
            For our educators, we want to provide the most engaging tools and
            resources for your students. Keeping your students engaged in a
            learning environment can be challenging and using technological
            resources for learning can be challenging as well.As the shift to
            online learning is growing more in popularity, we want to create
            tools that is great for learning and tracking progress. We want to
            help our educators pave the way for your students as they will be
            the main contributors for the future. And it starts with you. We
            wanted to create resources that can be easy to keep track of student
            progress as well as monitor over material and lesson plans.
          </p>
        </div>
      </div>
      <div class="card">
        <img
          src="https://www.nasa.gov/sites/default/files/styles/1x1_cardfeed/public/thumbnails/image/edu_orlando_boy_scout_jamboree.jpeg"
          class="card-img-top"
          alt=""
        />
        <div class="card-body">
          <h5 class="card-title">For Parents</h5>
          <p class="card-text">
            To our parents, we understand that online work and exposing your
            children to a different learning environment can be difficult. This
            can make monitoring your student’s learning easy while ensuring that
            they are fully engaged in a non-traditional classroom setting. You
            are able to keep track of their activity online and see them improve
            with the reading material and quizzes. It also allows collaboration
            with teachers for any support you or your child may need.
          </p>
        </div>
      </div>
      <div class="card">
        <img
          src="https://www.nasa.gov/sites/default/files/styles/1x1_cardfeed/public/thumbnails/image/students_5-8.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title bold">For Students</h5>
          <p class="card-text">
            To our students, we wish to provide you with new learning styles in
            the STEM field. We’ve compiled ways for students to actively
            interact with the material and test their knowledge with a variety
            of topics in STEM. With the support from our educators and parents,
            we will make online learning a way that is enjoyable and
            educational.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  activeClass("about-li");
</script>
{% endblock content %}
