{% extends "base.html" %} {% block content %} {% load static %}
<style>
    li {
      list-style-type: none;
    }

    .quizzes {
      display: flex;
    }

    .card {
      margin-right: 50px;
      margin-bottom: 50px;
      /* box-shadow:
         inset 0 -3em 3em rgba(66, 66, 66, 0.1),
               0 0  0 2px rgb(255,255,255),
               0.3em 0.3em 1em rgba(0,0,0,0.1); */
      box-shadow: 5px 10px 18px #888888;

  }

  .badge {
    margin-left: 20px;
  }

  .card-title {
    font-weight: bold;
  }

  #any-filter {
    margin-right: 20px;
  }
    
</style>

<div class="jumbotron">
  <div class="container main-content">
    <h1>Quizzes</h1>
    <hr>

    <div class="filters">
      <p class="text-muted">Topics</p>
      <div class="filter filter-basic">
        <div class="filter-nav">
          <form action="" method="POST">
            {% csrf_token %}
            <!-- <button type="submit" class="btn btn-info" value="Any" name="Topic">Any</button> -->
            {% for topic in topics %}
            <button type="submit" class="btn btn-primary" value="{{topic}}" name="Topic" data-filter={{topic}}>{{topic}}</button>
            {% endfor %}
            <br><br>
            <div class="difficulty">
              <div>
                <p class="text-muted">Difficulty</p>
                <div class=difficulty-nav">
                  
                  <button class="btn btn-primary btn-success" type="submit" value="Easy" name="Difficulty" data-filter="easy">Easy</button>
                  <button class="btn btn-primary btn-warning" type="submit" value="Medium" name="Difficulty" data-filter="medium">
                    Medium
                  </button>
                  <button class="btn btn-primary btn-danger" type="submit" value="Hard" name="Difficulty" data-filter="hard">
                    Hard
                  </button>
                </div>
              </div>
            </div>
            <br><br>
            <button id="any-filter" class="btn btn-info active" type="submit" value="Any" name="Difficulty" data-filter="all">Reset</button>

          </form>
          
        </div>
      </div>
    </div>
 
    


    <hr />
    <div class="row quizzes">


      {% for quiz in quizzes %}
      <div class="col-auto mb-3">
        <div class="card" style="width: 18rem">
          <!-- <img
            src="{{quiz.thumbnail.url}}"
            class="card-img-top"
            alt="Quiz thumbnail"
          /> -->
          <div class="card-body">
            <h5 class="card-title">{{quiz.title}}

            {% if quiz.difficulty == 'Easy' %}
            <span class="badge badge-success">Easy</span>
            {% elif quiz.difficulty == 'Medium'%}
            <span class="badge badge-warning">Medium</span>
            {% elif quiz.difficulty == 'Hard'%}
            <span class="badge badge-danger">Hard</span>
            {% endif %}
            </h5>
            
            <!-- <hr> -->


            <p class="card-text">
              {{quiz.description}}
            </p>
            <a href="{{quiz.id}}/" class="btn btn-primary">Blast off!</a>
          </div>
        </div>
      </div>
      {% endfor %}

      
      
      
    </div>
  </div>
</div>

<script>
  activeClass('quiz-li');
</script>
{% endblock content %}
